body {
	text-align: center;
	min-height: 100vh;
	padding: 2rem;
	font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
	color: #808080;
}

h3 {
	font-size: 1rem;
	color: #808080;
	font-weight: normal;
}

.header {
	padding: 0 4rem 0 4rem;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

table {
	padding: 2rem 0 2rem 0;
	table-layout: fixed;
	width: 100%;
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}

tr {
	height: 80px;
}

td, th {
	font-size: 1.5rem;
	width: 80px;
	white-space: nowrap;
	overflow: hidden;
}

tr th:nth-child(even) {
	color: #ccc;
	font-weight: normal;
}

table th,
table td {
	padding: 0.5rem 1rem;
}

table th {
	font-weight: normal;
	border-right: thin dotted #ccc;
}

table td {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.4;
	border-radius: 0.75rem;
	transition: opacity 0.3s ease;
}

table td>span {
	font-size: 0.9em;
	font-weight: normal;
	display: block;
	width: 100%;
}

.empty {
	border-radius: 0;
	border-right: thin dotted #ccc;
}

.room-1 {
	background-color: #FFA726;
}

.room-2 {
	background-color: #9CCC65;
}

.room-3 {
	background-color: #FF8A65;
}

.room-4 {
	background-color: #B3E5FC;
}

.room-5 {
	background-color: #81D4FA;
}

.room-6 {
	background-color: #26C6DA;
}

.room-7 {
	background-color: #FFA726;
}

.room-8 {
	background-color: #9CCC65;
}

.room-9 {
	background-color: #FF8A65;
}

.room-10 {
	background-color: #B3E5FC;
}

.room-11 {
	background-color: #81D4FA;
}

.room-12 {
	background-color: #26C6DA;
}