html {
	/* Everything scales relative to this font-size */
	font-size: 0.95vh;
    background-color: #222;
    color:ghostwhite;
}

body {
	text-align: center;
	min-height: 100vh;
	padding: 2rem;
	font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
	color: #aaa;
}

h3 {
	font-size: 1.5rem;
	font-weight: normal;
	color: #aaa;
}

/* Used in the header and footer banners */
.header_footer {
	padding: 0 2rem 0 2rem;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

table {
	table-layout: fixed;
	width: 100%;
	padding: 1rem 0 1rem 0;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0.2rem 0.5rem;
}

/* Controls the height of each row */
tr {
	height: 5rem;
}

/* Basic cell formatting for the table */
td, th {
	font-weight: normal;
	font-size: 2.0rem;
	line-height: 2.0rem;
	width: 4rem;
	padding: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	color: #aaa;
}

/* Default formatting for timescale on the table heading */
table th {
	text-align: left;
	border-right: 1px solid;
}

/* Every half-hour of the table heading */
tr th:nth-child(even) {
    padding-right: 0px;
	border-right: 10px solid;
}

/* Default formatting for each event */
table td {
	font-weight: bold;
	color: #fff;
	border-radius: 1.0rem;
	transition: opacity 0.3s ease;
}

/* 2nd line of each event */
table td>span {
	font-size: 1.6rem;
	font-weight: normal;
	display: block;
	width: 100%;
}

/* More contrast for images */
img {
    filter: brightness(1.5);    
}

/*===========================================================================*/
/* Color for each event */

.empty {
	border-radius: 0;
	border-right: 1px dotted;
}

.room-1 {
	background-color: #FFA726;
}

.room-2 {
	background-color: #9CCC65;
}

.room-3 {
	background-color: #FF8A65;
}

.room-4 {
	background-color: #B3E5FC;
}

.room-5 {
	background-color: #81D4FA;
}

.room-6 {
	background-color: #26C6DA;
}

.room-7 {
	background-color: #FFA726;
}

.room-8 {
	background-color: #9CCC65;
}

.room-9 {
	background-color: #FF8A65;
}

.room-10 {
	background-color: #B3E5FC;
}

.room-11 {
	background-color: #81D4FA;
}

.room-12 {
	background-color: #26C6DA;
}

/* ==========================================================================*/
